.container {
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.closed {
	opacity: 0.3;
}

.JobPostCard {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 20px;
	background-color: #ffffff;
	border: 1px solid #e5e4e7;
	padding: 12px;
}

.imageUrl {
	height: 84px;
	width: 100%;
	overflow: hidden;
}

.imageUrl img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 12px;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.imageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #cbc9cf;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
	z-index: 1;
	border-radius: 12px;
}

.shopName {
	font-size: 16px;
	font-weight: 700;
	color: #111322;
}

.houlyPay {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 18px;
	font-weight: 700;
	color: #111322;
}

.houlyPayBadge {
	gap: 2px;
	color: #ff4040;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}

.startsAt {
	display: flex;
	gap: 6px;
	font-size: 12px;
	font-weight: 400;
	color: #7d7986;
}

.startsAt svg {
	min-width: 16px;
	min-height: 16px;
}

.address1 {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 12px;
	font-weight: 400;
	color: #7d7986;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.JobPostCard {
		height: 360px;
	}

	.imageUrl {
		height: 171px;
	}

	.shopName {
		font-size: 20px;
	}

	.startsAt {
		line-height: 22px;
		font-size: 14px;
	}

	.address1 {
		line-height: 22px;
		font-size: 14px;
	}

	.houlyPay {
		font-size: 24px;
	}

	.responsiveDesign {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.houlyPayBadge {
		padding: 12px;
		color: #ffffff;
		background-color: #ff4040;
		font-size: 14px;
		font-weight: 700;
		border-radius: 20px;
	}
}

@media (min-width: 1024px) {
	.JobPostCard {
		height: 360px;
	}

	.imageUrl {
		height: 160px;
	}

	.shopName {
		font-size: 20px;
	}

	.startsAt {
		line-height: 22px;
		font-size: 14px;
	}

	.address1 {
		line-height: 22px;
		font-size: 14px;
	}

	.houlyPay {
		font-size: 24px;
	}

	.responsiveDesign {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.houlyPayBadge {
		padding: 12px;
		color: #ffffff;
		background-color: #ff4040;
		font-size: 14px;
		font-weight: 700;
		border-radius: 20px;
	}
}
