.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.imgcontainer{
    position:relative;
    width:208px;
    height: 38px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.imgcontainer svg {
  width:100%;
  height: 100%;
}

.formBox {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap:28px;
}

.formBox > .TextInput,
.formBox > button {
  width : 350px;
  margin-bottom: 28px;
}

.formBox > .TextInput{
  height: 58px;
}

.formBox > button{
  height: 48px;
}

.formBox > BaseButton{
  font-size:16px;
  font-weight: 700px;
}

.input {
  padding : 16px 20px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  height: 58px;
}

.loginButton {
  padding: 0.8rem;
  background-color: #e5381d;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.loginButton:hover {
  background-color: #c93016;
}

.signupText {
  text-align: center;
  font-size: 0.9rem;
}

.signupLink {
  color: #3f51b5;
  text-decoration: underline;
  margin-left: 0.3rem;
}

.inputError {
  border: 1px solid red;
}

@media  screen and (min-width:768px) {
  .imgcontainer{
    width:248px;
    height: 45px;
  }
}
