.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	background-color: var(--gray10);
	color: var(--gray50);
	padding-top: 37px;
	padding-right: 238px;
	padding-bottom: 37px;
	padding-left: 238px;
	font-size: 16px;
}

.footerContents {
	display: flex;
	justify-content: space-between;
}

.policies {
	display: flex;
	gap: 30px;
}

#privacy:hover {
	color: var(--black);
}

#faq:hover {
	color: var(--black);
}

.imgDiv {
	gap: 10px;
	display: flex;
}

.instagramIcon {
	width: 25px;
	height: 25px;
	color: var(--gray40); /* 초기 아이콘 색상 */
}

.instagramIcon:hover {
	color: #e91276;
}

.facebookIcon {
	width: 25px;
	height: 25px;
	color: var(--gray40); /* 초기 아이콘 색상 */
}

.facebookIcon:hover {
	color: #2d2de6;
}

.messageIcon {
	width: 25px;
	height: 25px;
	color: var(--gray40); /* 초기 아이콘 색상 */
}

.messageIcon:hover {
	color: var(--black);
}
