.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	background-color: var(--gray10);
	color: var(--gray50);
	padding-top: 37px;
	padding-right: 238px;
	padding-bottom: 37px;
	padding-left: 238px;
	font-size: 16px;
	z-index: 9999;
}

.footerContents {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}

.footerInside {
	display: flex;
	gap: 10px;
}

.policies {
	display: flex;
	gap: 30px;
	justify-content: center;
}

#privacy:hover {
	color: var(--black);
}

#faq:hover {
	color: var(--black);
}

.imgDiv {
	gap: 10px;
	display: flex;
	justify-content: right;
}

.instagramIcon {
	width: 25px;
	height: 25px;
	color: var(--gray40); /* 초기 아이콘 색상 */
}

.instagramIcon:hover {
	color: #e91276;
}

.facebookIcon {
	width: 25px;
	height: 25px;
	color: var(--gray40); /* 초기 아이콘 색상 */
}

.facebookIcon:hover {
	color: #2d2de6;
}

.messageIcon {
	width: 25px;
	height: 25px;
	color: var(--gray40); /* 초기 아이콘 색상 */
}

.messageIcon:hover {
	color: var(--black);
}

@media screen and (max-width: 965px) {
	.footer {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media screen and (max-width: 375px) {
	.footer {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 32px;
		padding-bottom: 16px;
		height: 126px;
		font-size: 14px;
	}

	.footerContents {
		grid-template-rows: 1fr 1fr;
	}

	.codeitCops {
		display: flex;
		grid-row: 2;
		flex-direction: column;
		justify-content: flex-end;
	}

	.policies {
		grid-row: 1;
		grid-column: 1 / span 2;
		gap: 30px;
		justify-content: left;
	}

	.imgDiv {
		grid-column: 3;
	}
}
