.header {
	position: fixed;
	display: flex;
	height: 70px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 208px;
	padding-left: 208px;
	flex-direction: column;
	justify-content: center;
	top: 0;
	background-color: var(--white);
}

.headerContent {
	display: flex;
	justify-content: space-between;
}

.headerLogoAndSearch {
	display: flex;
	gap: 40px;
}

.logoStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.headerMenu {
	display: flex;
	justify-content: right;
	gap: 40px;
	font-weight: 700;
	font-size: 16px;
}

.headerMenu button {
	font-weight: 700;
	font-size: 16px;
}

.headerSearchBox {
	display: flex;
	width: 450px;
	height: 40px;
	background-color: var(--gray10);
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	color: var(--gray40);
	gap: 10px;
}

.inputTag {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.notification {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
