.main {
	margin-top: var(--headerHeight);
	margin-bottom: var(--footerHeight);
	padding-right: 238px;
	padding-left: 238px;
}

@media screen and (max-width: 1023px) {
	.main {
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media screen and (max-width: 767px) {
	.main {
		padding-right: 12px;
		padding-left: 12px;
	}
}
