.post {
	list-style: none;
	background-color: #ffebe7;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 12px;
	border-radius: 20px;
}

.responsiveDesign {
	display: flex;
	flex-direction: column;
}

.responsiveDesignContents {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.imageUrl {
	width: 335px;
	height: 177px;
	overflow: hidden;
}

.imageUrl img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 12px;
}

.postCategory {
	font-size: 14px;
	font-weight: 700;
	color: #ea3c12;
}

.postName {
	font-size: 24px;
	font-weight: 700;
	color: #111322;
}

.postAddress1 {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 14px;
	font-weight: 400;
	color: #7d7986;
}

.postdescription {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #000000;
	max-height: 88px;
	overflow-y: auto;
	white-space: normal;
}

.buttonGruop {
	display: flex;
	gap: 8px;
	height: 38px;
	margin-top: 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.imageUrl {
		width: 664px;
		height: 360px;
	}

	.postCategory {
		font-size: 16px;
		font-weight: 700;
		color: #ea3c12;
	}

	.postName {
		font-size: 28px;
		font-weight: 700;
		color: #111322;
	}

	.postAddress1 {
		display: flex;
		align-items: center;
		gap: 6px;
		font-size: 16px;
		font-weight: 400;
		color: #7d7986;
	}

	.postdescription {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #000000;
	}

	.buttonGruop {
		display: flex;
		gap: 8px;
		height: 48px;
		margin-top: 24px;
	}
}

@media (min-width: 1024px) {
	.post {
		height: 356px;
		flex-direction: row;
		gap: 31px;
	}

	.imageUrl {
		width: 539px;
		height: 308px;
	}

	.responsiveDesign {
		width: 346px;
		height: 308px;
		justify-content: space-between;
		padding: 16px 0;
	}

	.responsiveDesignContents {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.postCategory {
		font-size: 16px;
	}

	.postName {
		font-size: 28px;
	}

	.postAddress1 {
		font-size: 16px;
	}

	.postdescription {
		font-size: 16px;
	}
}
