.fullWidthSection {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	background-color: var(--red10);
}

.innerContent {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 40px 12px;
}

.personalPostWrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0 14px;
}

.title {
	color: var(--black);
	font-size: 28px;
	font-weight: 700;
}

.keyword {
	color: var(--primary);
	font-size: 28px;
	font-weight: 700;
}

.personalPost {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 9px;
	row-gap: 16px;
}

.allPostContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 40px 8px;
}

.allPostWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
}

.filterWrapper {
	position: relative;
	display: flex;
	gap: 10px;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;

	width: 105px;
	height: 30px;
	border-radius: 5px;
	padding: 6.5px 12px;
	background-color: var(--gray10);
}

.filter > p {
	color: var(--black);
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.dropdown {
	position: absolute;
	top: 35px;
	background: white;
	border: 1px solid var(--gray20);
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.dropdownItem {
	padding: 12px 20px;
	border: 1px solid var(--gray20);
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.dropdownItem:hover {
	background-color: #eee;
}

.detailFilter {
	width: fit-content;
	height: 30px;
	border-radius: 5px;
	padding: 6.5px 12px;
	background-color: var(--red30);
}

.detailFilter > p {
	color: var(--white);
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.allPost {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 9px;
	row-gap: 16px;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 30px;
	margin: 0 auto;
}

.pageButton {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: var(--white);
	color: var(--black);
}

.pageButton.active {
	background-color: var(--red30);
	color: var(--white);
}

.arrowButton > img {
	filter: invert(6%) sepia(10%) saturate(3375%) hue-rotate(195deg) brightness(93%) contrast(96%);
}

.arrowButton:disabled > img {
	filter: invert(72%) sepia(2%) saturate(748%) hue-rotate(218deg) brightness(88%) contrast(99%);
}

@media (min-width: 768px) {
	.innerContent {
		padding: 60px 0px;
	}

	.personalPostWrapper {
		padding: 0 38px;
	}

	.personalPost {
		grid-template-columns: repeat(3, 1fr);
	}

	.allPostContainer {
		height: 1361px;
		padding: 60px 0px;
	}

	.allPostWrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
}

@media (min-width: 1024px) {
	.innerContent {
		width: 964px;
		margin: 0 auto;
	}

	.allNotices {
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		width: 100vw;
	}

	.allPostContainer {
		width: 964px;
		height: 985px;
		margin: 0 auto;
	}

	.allPost {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}

	.personalPostWrapper {
		padding: 0;
	}

	.personalPost {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}
}
