.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 40px 0;
}

.titleWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input {
	width: 100%;
}

.button {
	width: 100%;
	height: 48px;
	font-size: 20px;
	font-weight: 700;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
}

@media (min-width: 768px) {
	.container {
		padding: 60px 0;
		gap: 32px;
	}

	.inputWrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.input {
		width: calc(50% - 10px);
	}

	.button {
		width: 312px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 964px;
		margin: 0 auto;
		gap: 32px;
	}

	.inputWrapper {
		flex-wrap: nowrap;
	}
}
