.Title {
	font-weight: bold;
	font-size: 28px;
}

.profileBlock {
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
}

.profileDetailed {
	width: 665px;
	height: 256px;
	display: flex;
	justify-content: space-between;
	padding: 32px;
	background-color: var(--red10);
	border-radius: 12px;
}

#name {
	color: var(--primary);
	font-weight: bold;
	font-size: 16px;
}

#profileName {
	font-weight: bold;
	color: var(--black);
	font-size: 28px;
}

#phoneNumber {
	color: var(--gray50);
	display: flex;
	gap: 6px;
}

#preferLocation {
	color: var(--gray50);
	display: flex;
	gap: 6px;
}

.applyListBlock {
	padding-top: 60px;
	padding-bottom: 120px;
}

.applyListContent {
	width: 100%;
	height: 217px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
	border: solid;
	border-width: 1px;
	border-radius: 12px;
	border-color: var(--gray20);
	gap: 24px;
}

.profileDetiledInside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 28px;
}

.Title#applyListTitle {
	padding-bottom: 32px;
}

.Title#myProfile {
	min-width: 112px;
	margin-right: 100px;
}

@media screen and (max-width: 1023px) {
	.profileBlock {
		flex-direction: column;
		padding-top: 60px;
		padding-bottom: 60px;
		gap: 24px;
	}
	.profileDetailed {
		width: 100%;
	}

	.applyListBlock {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media screen and (max-width: 767px) {
	.profileBlock {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.Title {
		font-size: 20px;
	}

	#name {
		font-size: 14px;
	}

	#profileName {
		font-size: 24px;
	}

	#phoneNumber {
		font-size: 14px;
	}

	#preferLocation {
		font-size: 14px;
	}

	.profileDetiledInside {
		gap: 20px;
	}
	.applyListBlock {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.Title#applyListTitle {
		margin-bottom: 16px;
	}
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid #ff6a6a;
	border-top: 5px solid #dfdfdf;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
