.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.button {
	width: 80px;
	height: 37px;
}

.Icon {
	width: 24px;
	height: 24px;
}

.message {
	text-align: center;
}
